// Primary colors
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

// Neutral colors:
$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

// Typography:
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
}

// Layout:
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-weight: 400;
}
body {
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  text-align: center;
}

// Footer
.attribution {
  width: 100%;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

// Mobile version:
$mobile: 800px;
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
@mixin only-cell {
  grid-row: auto;
  grid-column: auto;
}
